<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.User>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FilterText" serializeAs="String">
                <value />
            </setting>
        </Client.User>
    </userSettings>
</configuration>