<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.User>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FilterText" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArchiveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddCreationDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugLoggingOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireCtrlEnter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterTextPreset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset3" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskListFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="TaskListFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TaskListFontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TaskListFontStretch" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TaskListFontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TaskListFontBrushColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AllowGrouping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveFocusToTaskListAfterAddingNewTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreserveWhiteSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterTextPreset4" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset5" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset6" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset7" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset8" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTextPreset9" serializeAs="String">
                <value />
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntellisenseCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSelectArchivePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterFutureTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHidenTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </Client.User>
    </userSettings>
</configuration>